@import "../variables";

.container {
  padding: 0 2rem;
  width: 100vw;
}


.main {
  display: flex;
  min-height: 100vh;
  padding: 2rem 0;
  margin-top: 1rem;
  flex-flow: row wrap;
  width: 100%;
  overflow: auto;

  @media (max-width: $mobile-first-width) {
    text-align: center;
  }


  .segment p:first-child {
    margin-top: 0;
  }
  
  .profile {
    @media (max-width: $mobile-first-width) {
      width: 100%;
      padding-right: 0; 
    }

    width: 20vw;
    min-width: $minimum-width;
    padding-right: 4rem;
    animation: slide-in 0.5s 1;
    
    h2 {
      text-align: center;
    }


    .headshot {
      border-radius: 160px;
    }

    .headshot-wrapper {
      margin: 0 auto;
      display: flex;
      justify-content: center;
    }

    .profile-summary-points {
        list-style: none;
        li {
          text-indent: -1.7rem;

          @media (max-width: $mobile-first-width) {
            margin-left: -1rem;
          }

          &:not(:last-child) {
            margin-bottom: 1rem;
          }

        }
        .location::before {
          content: "📍  ";
        }
        .job::before {
          content: "💼  ";
        }
        .degree::before {
          content: "👨‍🎓  ";
        }
    }

    .profile-splitter {
        border: 0px solid $line-colour;
        border-top-width: 1px;
        width: 3rem;
    } 

    .profile-contactinfo {
      text-align: center;

      a:hover,
      a:focus,
      a:active {
        text-decoration: underline;
        color: $ternary-colour;
      }
    }
  }


}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid $line-colour;
  justify-content: center;
  align-items: center;
  text-align: center;
}



@keyframes slide-in {
  0% {
    transform: translateY(-5rem);
    opacity: 1;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}