$dark-colour: #284B63;
// $dark-primary: #2c0735;

// $light-primary: #97dffc;
$light-colour: #FFFFFF;

$line-colour: #D9D9D9;
$ternary-colour: #3C6E71;
$mobile-first-width: 800px;
$minimum-width: 300px;